*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 4rem;
}
header{
    background-color: black;
    padding: 10px 2rem;
    

}
#header-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
#header-all .logo{
    margin-right: auto;
}
#header-all .logo img {
    width: 50%;
   margin-right: auto;
   
}
#header-all .center{
  
  width: 38%;
  margin-left: auto;
  
}

#header-all .logo{
    width: 20%;
}


#header-all .center .edit:hover::before{
    width: 100%;
}
    
#header-all .center .edit::before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0%;
    transition: .5s;
    background-color: white;
}
  

#header-all .center a{
    font-size: 20px;
    margin-left: 35px;
   color: white; 
   position: relative;
}
#header-all .basket {
    margin-left: 40px;
  
}
.basket i span{
    position: absolute;
    top: -10px;
    right: -12px;
    font-size: 13px;

}

#header-all .basket i{
 color: white;
 margin-left: 20px;
 position: relative;
}
#header-all .edit{
    text-decoration: none;
}

    







#allmasters{
   background-image: url('../img/masters.jpg');
   width: 100%;
   height: 85vh;
   text-align: center;
background-size: cover;
background-position: center;
}
.masters{
    margin-left: auto;
    width:73% ;
    padding: 27px 0;
}
.masters h1{
    font-size: 100px;
    color: #ffffff;
    letter-spacing: 5px;
    margin-top: 30px;
   
}
.masters h3{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
    white-space: normal;
}
.masters button{
    border: 1px solid #262626;
    color: rgb(255,255,255);
    border-color: rgb(255,255,255);
    font-size: 14px;
    font-weight: 600;
    padding: 23px 50px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.571);
    margin-top: 50px;
    letter-spacing: 2px;
    transition: 0.5s;
}

#allmasters button:hover{
    background-color: rgb(190,156,121);
}


@media (max-width:586px) {
    
       
   
       
       
      
     .masters button{

     }
       
    
    .masters h1{
        font-size: 25px;
        text-align: center;
    }
    .masters h3{
        opacity: 0;
    }
   
     
    
        
    .container{
        padding: 0 2rem;
    }
     .allphotooffer{
         flex-flow: column;
         margin: 3rem 0;
     }   
    .allphotooffer .box{
        width: 100%;
        margin-bottom: 4rem;

    }
    .allphotooffer .box p{
        width: 100%;
    }
}

#AllOffer{
    padding: 7rem 4rem;

}

   .offer{
       text-align: center;
       padding: 2rem 0;
   }

.offer h1{
    font-size: 45px;
    color: #262626;
    letter-spacing: 5px;
    font-weight: 400;
}
 .offer img{
     margin-top: 20px;
 } 
 .offer p{
     margin-top: 20px;
     font-size: 18px;
     color: #262626;
     font-weight: 300;
     line-height: 1.55em;
     
 }
    
   
.offer h3{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
    white-space: normal;
}
 .allphotooffer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
}
.allphotooffer .box{
   width: 70%;
   margin-left: 60px;
   text-align: center;
}
.allphotooffer .box img{
  width: 45%;
  margin-bottom: 20px;
  
  
}
.allphotooffer .box h1 {
    font-size: 20px;
    text-decoration: none;
    color: #262626;
    transition: 0.3s;
    font-weight: 400;
    
}
.allphotooffer .box h1:hover{
 color: rgba(255, 166, 0, 0.731);
}
  
.box p{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #656565;
}




#AllHerald{
  
background-image: url('../img/herald.jpg');
padding: 4rem;

}

   .herald{
       text-align: center;
       padding: 2rem 0;
   }

.herald h1{
    font-size: 45px;
    color: #262626;
    letter-spacing: 5px;
    font-weight: 400;
}
 .herald img{
     margin-top: 20px;
 } 
 .herald p{
     margin-top: 20px;
     font-size: 18px;
     color: #262626;
     font-weight: 300;
     line-height: 1.55em;
     
 }
    
   
.herald h3{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
    white-space: normal;
}
 .allphotoherald{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    margin-top: 30px;
    padding: 0 4rem;
    
}
.allphotoherald .box{
   width: 32%;
 
}

.allphotoherald .box:hover img{
    transform: scale(1.1);
}
.allphotoherald .box img{
  width: 100%;
  margin-bottom: 20px;
 transition: 1s;

  
  
}
.allphotoherald .box a {
    font-size: 20px;
    text-decoration: none;
    color: #262626;
    transition: 0.3s;
    margin-top: 20px;
}
.allphotoherald .box a:hover{
 color: rgba(255, 166, 0, 0.731);
}
  
 .allphotoherald .box p{
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
    color: #656565;
    margin-bottom: 15px;
    line-height: 2em;
    opacity: 0.9;
}
.allphotoherald .box .aedit{
    font-size: 13px;
    letter-spacing: 1px;
    
}
#Coffee{

 background-image: url('https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h1-bacground-img-2.jpg');
  padding: 6rem 0;
  margin: 4rem 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
  
}
#Coffee img{
width: 100%;

}
.coffe-photo{
    width: 15%;
    margin: auto;
}
#Number{
   height: 36vh;
}

#Number .allnumber{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#Number .box{
    text-align: center;
}
#Number .box span{
    font-size: 55px;
    color: #be9c79;;
    letter-spacing: .05em;
    line-height: .9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Number .box h1{
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: .05em;
    color: #262626;
}
#Number .box p{
    font-size: 18px;
    color: #656565;
    margin-top: 10px;
    opacity: 0.8;
}


.allshop .box .shopedit a{
    border: 2px rgb(191, 81, 81);
    padding: 20px 35px;
    background-color: #be9c79;
  letter-spacing:0.2em;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0;
    z-index: 11111111;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
    transition: .5s;
    
}

.allshop .box:hover a {
    opacity: 1;
  
}

 .allshop .box a:hover{
     background-color: #262626;
     
 }   
   

  .allshop .box:hover{
      opacity: 0.5;
  }  
    
   
   

#AllShop{
  
    background-image: url('../img/shop.jpg');
    padding: 5rem;
    background-size: cover;
    background-position: center;
}
   
#AllShop .box{
    width: 22%;
    margin-top: 20px;
    text-align: center;
    position: relative;
    transition: .5s;
}
    
    
    
       .shop{
           text-align: center;
           
       }
    
    .shop h1{
        font-size: 45px;
        color: #262626;
        letter-spacing: 5px;
        font-weight: 400;
    }
     .shop img{
         margin-top: 20px;
     } 
     .shop p{
         margin-top: 20px;
         font-size: 18px;
         color: #262626;
         font-weight: 300;
         line-height: 1.55em;
         
     }
     #AllShop .allshop{
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
     
     #AllShop .box img{
         width: 100%;
     }

     
.allshop .box h1 {
    font-size: 20px;
    text-decoration: none;
    color: #262626;
    transition: 0.3s;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
.allshop .box h1:hover{

    color: rgba(255, 166, 0, 0.731);
}
.allshop .box span{
    font-size: 20px;
    color: #777;
}
#AllGallery{
    padding: 4rem 0;
}    

.allgalery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.allgalery .box{
    width: 24%;
    position: relative;
    
    
}
.allgalery .boxedit p{
    color: #ffffff;
}
.allgalery .box .boxedit{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #ffffff;
    z-index: 11111111;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .5s;
    font-size: 25px;
    letter-spacing: 0.1em;
}
.allgalery .box:hover .boxedit{
    opacity: 1;

}
 
    
 .allgalery .box:hover img{
        filter: brightness(0.5);
    }
        
   
    

.allgalery .box img{
    width: 100%;
    
    transition: 0.5s;
    
}

.gallery{
    text-align: center;
    
}

.gallery h1{
 font-size: 45px;
 color: #262626;
 letter-spacing: 5px;
 font-weight: 400;
 margin-top: 50px;
}


.gallery p{
  margin-top: 20px;
  font-size: 20px;
  color: #262626;
  font-weight: 300;
  line-height: 1.55em;
  margin-bottom: 70px;
  opacity: 0.8;
}
#Logo{
    padding: 4rem;
}
.alllogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alllogo .box{
    width: 16%;
    transition: 0.5s;
}
.alllogo .box img{
    width: 100%;
    transition: .5s;
}
.alllogo .box:hover img{
   filter: brightness(4);
   
}


#Contact{
    padding: 3rem 4rem;
    background-image: url("../img/contact.jpg");
    height: 30vh;
}

#Contact .allcontact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 60px 1rem;
}
    
    
.allcontact .right a{
    border: 1px solid transparent;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 20px;
    text-transform: uppercase;
    transition: 0.3s;
    background-color: #be9c79
    
}
  .allcontact .left{
      font-size: 15px;
      color: #262626;
      opacity: 0.9;
  }  
  
    .allcontact .right a:hover{
        background-color: #262626;
    }

    #End{
        background-image: url('https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/footer-top-img-1.jpg');
        background-size: cover;
        background-position: center;
        padding: 11rem;
    }
    .allend{
        text-align: center;
      
        
    }
    .allend img{
        width: 15%;
    }
    .allend p{
        color: #ffffff;
        font-size: 17px;
        margin-top: 20px;
        line-height: 1.5;
    }   
    .allend h2{
        color: #ffffff;
        font-size: 22px;
        margin-top: 40px;
        
    }
    .allend h5{
        color: #ffffff;
        font-size: 17px;
        margin-top: 5px;
    }
    .allend h1{
        color: #ffffff;
        font-size: 22px;
        margin-top: 60px;
    }
    .allend input{
        border: 1px solid white;
        padding: 18px 70px;
        background-color: transparent;
        margin-top: 20px;
    }

    #last{
        padding: 4rem 7rem;
        background-color: #121212;
        width: 100%;
      overflow: hidden;
        
    }
    .alllast{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .alllast .left h2{
        font-size: 17px;
        color: #ffffff;
    }
    .alllast .centera a{
        text-decoration: none;
        color: white;
        margin-left: 40px;
        font-size: 15px;
    }
     .alllast .rightl i{
         color: #ffffff;
         margin-left: 25px;
     }   
     .centera{
       
     }
      
        